In [1]:
import pandas as pd
import numpy as np

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 

import warnings
warnings.filterwarnings("ignore")

from google.colab import drive
drive.mount('/gdrive')
#Change current working directory to gdrive
%cd /gdrive

Mounted at /gdrive
/gdrive

# **Import File**

In [2]:
#Read files
datafile = r'/gdrive/My Drive/Data Mining/Assignment 5/SouthGermanCredit.xlsx'
data = pd.read_excel(datafile) #creates a dataframe
data.head()

   laufkont  laufzeit  moral  verw  hoehe  ...  beruf  pers  telef  gastarb  kredit
0         1        18      4     2   1049  ...      3     2      1        2       1
1         1         9      4     0   2799  ...      3     1      1        2       1
2         2        12      2     9    841  ...      2     2      1        2       1
3         1        12      4     0   2122  ...      2     1      1        1       1
4         1        12      4     0   2171  ...      2     2      1        1       1

[5 rows x 21 columns]

# **Split Data into Train and Test Files**

In [3]:
y = data[['kredit']]
x = data.drop('kredit', axis=1)

In [4]:
 x_train,x_test,y_train,y_test = train_test_split(
     x,
     y,
     test_size=0.2, 
     random_state=42)

In [5]:
x_train.head()
#x_train.shape

     laufkont  laufzeit  moral  verw  ...  beruf  pers  telef  gastarb
29          3        42      4     1  ...      3     2      1        2
535         2        24      2     3  ...      3     2      2        2
695         4        60      3     3  ...      3     2      2        2
557         3        12      2     2  ...      4     2      2        2
836         4        18      0     9  ...      3     1      1        2

[5 rows x 20 columns]

In [6]:
x_test.head()
#x_test.shape

     laufkont  laufzeit  moral  verw  ...  beruf  pers  telef  gastarb
521         4        36      2     2  ...      4     2      2        2
737         4        18      4     3  ...      3     2      1        2
740         4        12      2     2  ...      2     2      1        2
660         2         8      2     3  ...      3     2      1        1
411         4        24      3     9  ...      3     1      2        2

[5 rows x 20 columns]

# **K Means Clustering**

In [7]:
kmeans = KMeans(n_clusters=8).fit(x_train)
kmeans.labels_
kmeans.cluster_centers_

array([[2.00000000e+00, 4.47000000e+01, 1.60000000e+00, 5.30000000e+00,
        1.52161000e+04, 1.90000000e+00, 3.20000000e+00, 2.60000000e+00,
        2.60000000e+00, 1.10000000e+00, 2.90000000e+00, 3.10000000e+00,
        3.76000000e+01, 2.50000000e+00, 2.10000000e+00, 1.30000000e+00,
        3.40000000e+00, 2.00000000e+00, 1.90000000e+00, 1.90000000e+00],
       [2.65573770e+00, 1.93169399e+01, 2.66120219e+00, 2.97267760e+00,
        2.19557923e+03, 1.95628415e+00, 3.32240437e+00, 3.12021858e+00,
        2.68852459e+00, 1.15300546e+00, 2.75956284e+00, 2.33879781e+00,
        3.43879781e+01, 2.71584699e+00, 1.86885246e+00, 1.38797814e+00,
        2.96174863e+00, 1.91256831e+00, 1.40437158e+00, 1.94535519e+00],
       [2.50000000e+00, 3.11166667e+01, 2.80000000e+00, 2.85000000e+00,
        6.46525000e+03, 2.10000000e+00, 3.45000000e+00, 2.65000000e+00,
        2.81666667e+00, 1.06666667e+00, 3.01666667e+00, 2.81666667e+00,
        3.75166667e+01, 2.65000000e+00, 2.01666667e+00, 1.55000000e+00,
        3.16666667e+00, 1.80000000e+00, 1.66666667e+00, 1.98333333e+00],
       [2.41984733e+00, 2.35877863e+01, 2.44274809e+00, 2.17557252e+00,
        3.39699237e+03, 2.30534351e+00, 3.45801527e+00, 2.67938931e+00,
        2.61832061e+00, 1.15267176e+00, 2.89312977e+00, 2.42748092e+00,
        3.44274809e+01, 2.69465649e+00, 1.87786260e+00, 1.27480916e+00,
        2.94656489e+00, 1.77862595e+00, 1.43511450e+00, 1.96183206e+00],
       [2.61904762e+00, 3.80000000e+01, 2.61904762e+00, 3.19047619e+00,
        1.13524286e+04, 2.33333333e+00, 3.47619048e+00, 2.42857143e+00,
        2.61904762e+00, 1.09523810e+00, 3.00000000e+00, 3.23809524e+00,
        3.44285714e+01, 2.47619048e+00, 2.19047619e+00, 1.42857143e+00,
        3.38095238e+00, 1.80952381e+00, 1.85714286e+00, 2.00000000e+00],
       [2.62633452e+00, 1.32419929e+01, 2.55516014e+00, 2.73665480e+00,
        1.13390036e+03, 2.01779359e+00, 3.43060498e+00, 3.32028470e+00,
        2.66548043e+00, 1.14946619e+00, 2.83985765e+00, 2.02846975e+00,
        3.63807829e+01, 2.71174377e+00, 1.89323843e+00, 1.41281139e+00,
        2.68683274e+00, 1.84341637e+00, 1.29181495e+00, 1.95729537e+00],
       [2.68656716e+00, 2.79701493e+01, 2.49253731e+00, 3.50746269e+00,
        4.75334328e+03, 1.89552239e+00, 3.26865672e+00, 2.68656716e+00,
        2.71641791e+00, 1.11940299e+00, 3.04477612e+00, 2.62686567e+00,
        3.43731343e+01, 2.65671642e+00, 2.04477612e+00, 1.55223881e+00,
        3.05970149e+00, 1.83582090e+00, 1.49253731e+00, 2.00000000e+00],
       [2.55319149e+00, 3.52978723e+01, 2.48936170e+00, 2.91489362e+00,
        8.22527660e+03, 2.85106383e+00, 3.25531915e+00, 2.25531915e+00,
        2.55319149e+00, 1.14893617e+00, 2.70212766e+00, 2.85106383e+00,
        3.51489362e+01, 2.57446809e+00, 2.04255319e+00, 1.51063830e+00,
        3.19148936e+00, 1.82978723e+00, 1.48936170e+00, 1.97872340e+00]])

In [8]:
print(silhouette_score(x_train, kmeans.labels_))

0.5763718972076219

In [9]:
kmeans = KMeans(n_clusters=3).fit(x_train)
kmeans.labels_
kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.65302602837943

In [10]:
#init{‘k-means++’, ‘random’, ndarray, callable}, default=’k-means++’
#‘random’: choose n_clusters observations (rows) at random from data for the initial centroids.

kmeans = KMeans(n_clusters=8, init='random').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5754004301563688

In [11]:
#init{‘k-means++’, ‘random’, ndarray, callable}, default=’k-means++’
#‘k-means++’ : selects initial cluster centers for k-mean clustering in a smart way to speed up convergence.

kmeans = KMeans(n_clusters=8, init='k-means++').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5754090362597508

In [12]:
#n_initint, default=10
#Number of time the k-means algorithm will be run with different centroid seeds. The final results will be the best output of n_init consecutive runs in terms of inertia.

kmeans = KMeans(n_clusters=8, n_init=25).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5763718972076219

In [13]:
kmeans = KMeans(n_clusters=8, algorithm='elkan').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5763718972076219

In [14]:
kmeans = KMeans(n_clusters=2, algorithm='elkan').fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.7119009986852598

In [15]:
kmeans = KMeans(n_clusters=5, algorithm='elkan', random_state=100, precompute_distances=True, n_init=30).fit(x_train)
kmeans.labels_
#kmeans.cluster_centers_
print(silhouette_score(x_train, kmeans.labels_))

0.5791279033928023

In [16]:
#Add Cluster Number to each datapoint + save file
df_kmeans=x_train
kmeans_predict_train=kmeans.predict(x_train)

df_kmeans['Cluster Number']=kmeans_predict_train


export_csv = df_kmeans.to_csv(r'/gdrive/My Drive/Data Mining/Assignment 5/KmeansClusters_German_Train.csv')

In [17]:
print(df_kmeans.shape)

(800, 21)

In [18]:
df_kmeans.head()
#df_kmeans.dtypes

     laufkont  laufzeit  moral  verw  ...  pers  telef  gastarb  Cluster Number
29          3        42      4     1  ...     2      1        2               4
535         2        24      2     3  ...     2      2        2               0
695         4        60      3     3  ...     2      2        2               3
557         3        12      2     2  ...     2      2        2               0
836         4        18      0     9  ...     1      1        2               2

[5 rows x 21 columns]

In [19]:
centroid = kmeans.cluster_centers_
centroid

array([[2.63684211e+00, 1.43736842e+01, 2.61052632e+00, 2.81578947e+00,
        1.34872895e+03, 1.98684211e+00, 3.39210526e+00, 3.29210526e+00,
        2.68421053e+00, 1.14473684e+00, 2.81052632e+00, 2.10789474e+00,
        3.56526316e+01, 2.72368421e+00, 1.89210526e+00, 1.41578947e+00,
        2.76315789e+00, 1.86842105e+00, 1.33421053e+00, 1.95263158e+00],
       [2.56578947e+00, 3.54736842e+01, 2.53947368e+00, 2.73684211e+00,
        8.09311842e+03, 2.64473684e+00, 3.32894737e+00, 2.30263158e+00,
        2.65789474e+00, 1.11842105e+00, 2.86842105e+00, 2.80263158e+00,
        3.66973684e+01, 2.55263158e+00, 2.01315789e+00, 1.53947368e+00,
        3.23684211e+00, 1.77631579e+00, 1.60526316e+00, 1.98684211e+00],
       [2.50684932e+00, 2.26849315e+01, 2.47031963e+00, 2.51141553e+00,
        3.05722374e+03, 2.17808219e+00, 3.41552511e+00, 2.80821918e+00,
        2.63013699e+00, 1.16438356e+00, 2.85844749e+00, 2.39726027e+00,
        3.47534247e+01, 2.68493151e+00, 1.86757991e+00, 1.30593607e+00,
        2.94063927e+00, 1.81735160e+00, 1.39726027e+00, 1.95890411e+00],
       [2.30434783e+00, 3.76956522e+01, 2.17391304e+00, 4.39130435e+00,
        1.34333043e+04, 2.26086957e+00, 3.21739130e+00, 2.52173913e+00,
        2.56521739e+00, 1.13043478e+00, 2.86956522e+00, 3.30434783e+00,
        3.56956522e+01, 2.43478261e+00, 2.08695652e+00, 1.30434783e+00,
        3.47826087e+00, 1.95652174e+00, 1.86956522e+00, 1.95652174e+00],
       [2.61764706e+00, 2.93921569e+01, 2.66666667e+00, 3.25490196e+00,
        5.32225490e+03, 1.93137255e+00, 3.38235294e+00, 2.72549020e+00,
        2.73529412e+00, 1.08823529e+00, 3.01960784e+00, 2.73529412e+00,
        3.49215686e+01, 2.68627451e+00, 2.07843137e+00, 1.54901961e+00,
        3.06862745e+00, 1.84313725e+00, 1.54901961e+00, 1.99019608e+00]])